<div id="error_explanation">
  <h5>The following errors occurred: </h5>
  <ul>
    <% resource.errors.full_messages.each do |error_message|%>
      <li><%= error_message%></li>
    <%end%>
  </ul>
</div>
