<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container">
  <div class="navbar-header">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li><%= link_to "Notes", root_path, class: 'navbar-brand' %></li>
    </ul>
  </div>

  <ul class="nav justify-content-end">
      <% if logged_in?  %>
        <li class= 'nav-item'><%= link_to "Edit Profile", edit_user_path(current_user), class: 'nav-link text-white'%></li>
        <li class= 'nav-item'><%= link_to "Log out", logout_path, method: :delete, class: 'nav-link text-white'%></li>
      <%else%>
        <li><%= link_to "Sign in", login_path %></li>
      <%end%>
  </ul>
</div>
</nav>